<div
  id="socialcalendarextension-share-modal"
  class="iziModal"
  data-izimodal-title="Social Calendar"
  data-izimodal-subtitle="Share your new event at your social medias"
  >
  <h2>Share it!</h2>

  <br>
  <h3 id="socialcalendarextension-share-modal-text"></h3>
  <br>

  <button class="socialcalendarextension-btn" id="socialcalendarextension-share-modal-twitter">
    Twitter
  </button>
  <button class="socialcalendarextension-btn" id="socialcalendarextension-share-modal-facebook">
    Facebook
  </button>
  <button class="socialcalendarextension-btn" id="socialcalendarextension-share-modal-gplus">
    Google Plus
  </button>
  <button class="socialcalendarextension-btn" id="socialcalendarextension-share-modal-foursquare">
    Foursquare
  </button>

  <div class="socialcalendarextension-loading" style="display: none;">loading...</div>

  <div class="socialcalendarextension-foursquare-places" style="display: none;">
    <h3>Choose the right location</h3>
    <ul>

    </ul>
  </div>
</div>